
.navbar-default 
{
  background-color:#17294D;
  text-transform: uppercase;
}


.center
{
  
  background-color: rgb(209, 211, 214);
  padding: 5%;

}
#myform
{
  padding-top:10%;
  height:100%;
}

form {
  width: 100%;
  height:100% ;
   margin: auto;
   position: relative;
 }
$c1 : #3d6098;
$c2 : #213159;
$c3 : #f04b4c;
$c4 : #e7e7e7;
#rcorners1 
{
    display: block;
    margin: 0 auto;
    width: 700px;
    height:50% ;
    background-color: rgb(227, 229, 232);
    align-content: center;
}
  
#site-head
{
    font-family: "Times New Roman", Times, serif;
    font-size: 150%;
    float: none;
}

#li1
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 300%;
}
#btnSub
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 150%;
   position: center;
   margin-left: 25%;
   margin-top: 2%;
}

#btnAddCol
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 100%;
   position: center;
   margin-left: 5%;
   margin-top: 2%;
}
label
{
  float: left;
  margin-right: 10%;
  margin-bottom:2%;
  width: 20%;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 150%;
}
.btn,.btn-default
{
  background-color:orangered;
  text-transform: uppercase;
  width: 50%;
}
input,select
{
 float: right;
 width: 60%;
  margin-bottom:2%;
  height:50%;
}

#dropds
{
    float: right;
    margin-bottom: 2%;
}

#for-file
{
    float: left;
    margin-left: 5%;
}