<navbar> </navbar>

  <div  id="rcorners1">
   <h3 id="li1"  class="center">Add Assignment</h3>

    <form (ngSubmit)="addStudents()"  id="myForm">

      <div id="wrapper"class="row">
        <label id="li">Module:</label>
          <select  id="sel1">
          <div *ngFor='let module of currentUser.permissions.modules'>
              <option>{{module.code}}</option>
          </div>
          
          </select>
      </div>


      <div id="wrapper"class="row" >
        <label id="li">Assessment:</label>
        <input id="for-file" type="text" >
      </div>

      <div id="wrapper" class="row" >
        <label id="li">Deadline:</label>
        <input id="for-file" type="date" >
      </div>

      <div id="wrapper" class="row" >
        <label for="for-file" id="li">Select File:</label>
        <input id="for-file" type="link"  data-show-preview="false">
      </div>


      <button type="submit" class="btn btn-default" id="btnSub">Submit</button>


    </form>
  </div>






