<navbar> </navbar>

  <div  id="rcorners1">
   <h3 id="li1"  class="center">Add Assignment</h3>

    <form (ngSubmit)="addAssignment()"  id="myForm">

      <div id="wrapper"class="row">
        <label id="li">Module:</label>
          <select  required id="sel1" [(ngModel)]="newAssignment.moduleCode" [ngModelOptions]="{standalone: true}" (ngModelChange)="electrifyonChange($event)">
            <option *ngFor='let module of modules' [ngValue]="module.code">{{module.code}}</option>
          </select>
      </div>

        <div id="wrapper"class="row" >
            <label> Type:</label>
                <div class="rd">
                        <label  for="rs1" style="height:36px!important;">Exam<input [ngModelOptions]="{standalone: true}" [value]="Exam"  id="rs1" name="ass" type="radio" (click)="setradio('Exam')" ngModel></label>
                        <label  for="rs2" style="height:36px!important;">Test <input [ngModelOptions]="{standalone: true}" [value]="Test"   id="rs2" name="ass" type="radio" (click)="setradio('Test')" ngModel></label>
                        <label  for="rs3" style="height:36px!important;">Practical<input [ngModelOptions]="{standalone: true}" [value]="Practical"    id="rs3" name="ass" type="radio"(click)="setradio('Practical')" ngModel></label>
                        <label  for="rs4" style="padding-left:4px!important;height:36px!important;">Assignment<input [ngModelOptions]="{standalone: true}" [value]="Assignment"   id="rs4" name="ass" type="radio" (click)="setradio('Assignment')" [checked]='true' ngModel></label>
                </div>
        </div>

      <div id="wrapper" class="row" >
        <label for="for-file" id="li">Name:</label>
        <input [(ngModel)]="newAssignment.name" [ngModelOptions]="{standalone: true}"required id="for-file" type="text"  data-show-preview="false">
      </div>
      <div id="wrapper" class="row" >
        <label id="li">Deadline:</label>
        <input  [(ngModel)]="newAssignment.deadline" [ngModelOptions]="{standalone: true}"required id="for-file" type="date"   >
      </div>

      <div id="wrapper" class="row" >
        <label for="for-file" id="li">File Link:</label>
        <input  [(ngModel)]="newAssignment.link" [ngModelOptions]="{standalone: true}"required id="for-file" type="link"  data-show-preview="false">
      </div>


      <button type="submit" class="btn btn-success" id="btnSub">Submit</button>


    </form>
  </div>






