<navbar> </navbar>
<div class="container">

  <div id="div1" class="col-md-6">
    
      <span class="modulesHead">
          Enrolled Modules
          <ul>
            <li *ngFor='let module of modules'>{{module.code}} - {{module.name}} <a href="my-marks/{{module.code}}"> View Marks</a></li>
          </ul>
          Managed Modules
          <ul>
            <li *ngFor='let module of staffModules'>{{module.code}} - {{module.name}} <a href="admin-marks/{{module.code}}"> Edit Marks</a></li>
          </ul>
    
        </span>
   <br /><br />
  
    <div id="main" class="leaderBoard " >
      <span class="lbHead">Leaderboard</span>
      <div class ="leaderBoard"style="display: block;">
        <canvas baseChart width="400" height="250" [datasets]="lineChartData"[labels]="lineChartLabels"
        [options]="lineChartOptions"[colors]="lineChartColors"[legend]="lineChartLegend"
        [chartType]="lineChartType" (chartHover)="chartHovered($event)"(chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div id="div2" class="col-md-6">
      <span class="predictionshead">Time Series Predictions</span>

      <br/>
      <input type="text" id="analysiscsv" [(ngModel)] = "csvName" placeholder=".csv name"/>
      <button id="analyseStudent" (click)="runStudentAnalysis()">Student Analysis</button>
      <button id="analyseModule" (click)="runModuleAnalysis()">Module Analysis</button>
      <input type="file" id="selectCSV" (change)="fileEvent($event)" text="Select CSV"/>
      <br />
      <img id="analysisImg" src="{{imgName}}" />

 </div>             
</div>


