<navbar> </navbar>

  <!--<h2 class="center">Add Student</h2>-->

  <div  id="rcorners1">
    <h3 class="center">Enroll students for a module:</h3>
      <div id="form1">
        <form (ngSubmit)="enrollStudents()"  id="inputForm">

        <div id="wrapper"class="row">
          <label id="li">Module:</label>
            <select  required id="sel1" [(ngModel)]="enroll.code" [ngModelOptions]="{standalone: true}" (ngModelChange)="electrifyonChange($event)">
              <option *ngFor='let module of modules' [ngValue]="module.code">{{module.code}}</option>
            </select>
        </div>

          <div id="wrapper"class="row">
            <label for="in2" id="li2">Year:</label>
            <input id="in2" type="text" [ngModelOptions]="{standalone : true}" [(ngModel)]="enroll.year" required>
          </div>

          <div id="wrapper" class="row" >
            <label for="in4" id="li">Select File:</label>
            <input id="in4" type="file" [ngModelOptions]="{standalone : true}" [(ngModel)]="enroll.filename" (change)="onFileChange($event)" multiple="false">
          </div>

          <div id="butts" class="row" >
            <button type="submit" class="btn btn-default" id="btnSub1">Submit</button>
          </div>
        </form>
      </div>

  </div>







