<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color:white;" href="#">Saffron </a>
            <img src="../../../assets/images/Logo.png" alt="Logo" style="width: 50px; height: 50px;">
            
        </div>

        <div class="container ">
            <div class="col-md-2 text-right pull-right" style="color:rgb(67, 82, 89);">
                <span class="pull-right">
				<span class="glyphicon glyphicon-user"></span>
                </span>
                <p>Student Name uXXXXXXXX<p>
            </div>

        </div>

    </div>
</nav>

<div class="row">
  <div class="col-md-4">
    <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>My Modules</md-card-title>
        </md-card-header>
        <md-card-content>
              <span class="row">  COS121</span>
              <span class="row">  COS132</span>
              <span class="row">  COS110</span>
              <span class="row">  COS151</span>
        </md-card-content>
        <md-card-actions>
          <a href="marks">Detailed Marks</a>
        </md-card-actions>
      </md-card>
  </div>
  <div class="col-md-4">
      <md-card class="example-card" id="q">
          <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>Quote of the Day</md-card-title>
          </md-card-header>
          <md-card-content>
                "People are not disturbed by things, but by the view they take of them" -EPICTETUS
          </md-card-content>
        </md-card>
    </div>

    <div class="col-md-3">
        <md-card class="example-card" id="l">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Leaderboard</md-card-title>
            </md-card-header>
            <md-card-content>
                <div class="datagrid"><table>
                    <thead><tr><th>Student</th><th>Current term Mark(%)</th></tr></thead>
                    <tbody>
                    <tr><td>Micky Mouse</td><td>90</td></tr>
                    <tr class="alt"><td>Pluto</td><td>75</td></tr>
                    <tr><td>...</td><td>...</td></tr>
                    <tr class="alt"><td>YOU</td><td>83</td></tr>
                    </tbody>
                    </table></div>
                   
            </md-card-content>
            <md-card-actions>
                <button>View Bell Curve</button>
              </md-card-actions>
          </md-card>
      </div>

</div>
<div class="row">
<div class="col-md-8">
    <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Predictions</md-card-title>
        </md-card-header>
        <md-card-content>
          View your latest performance predictions
        </md-card-content>
        <md-card-actions>
          <a href="#">Time Series Predictions</a>
        </md-card-actions>
      </md-card>
    </div>
    <div class="col-md-4">
        <md-card class="example-card"id="s">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Staff</md-card-title>
            </md-card-header>
            
            <md-card-actions>
              <a href="#">Admin Dashboard</a>
            </md-card-actions>
          </md-card>
        </div>
</div>