.navbar-default 
{
 background-color:#17294D;
}
.nav
{
	color:white;
}
.navbar-header
{
	color:white;
}
.vertical-center 
{
	padding-top: 10%;
	padding-left: 0%;
}
#li
{
   font-family: Arial, Helvetica, sans-serif;
	 font-size: 150%;
	 color: white;
		position: center;
		padding-left: 15%;
}
#li2
{
   font-family: Arial, Helvetica, sans-serif;
	 font-size: 150%;
	 color: white;
		position: center;
		padding-left: 27%;
}
  #site-head
{
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    float: none;
}
.example-card {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: 10px;
  }

  #q{
    width: 350px; 
    height: 150px;
  }
  #l{
    width: 500px;
    height: 350px;
  }
  #s{
    width: 350px;
    height: 100px;
  }
  #x{
    width: 250px;
    height: 150px;
  }


