.navbar-default 
{
  background-color:rgb(41, 134, 151);
}
.nav
{
	color:white;
}
.navbar-header
{
	color:white;
}
.vertical-center 
{
	padding-top: 10%;
	padding-left: 20%;
}

#query-form
{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

#reason
{
  width: 100%;
  height: 50%;
}

textarea{
  resize: none;
}