<navbar> </navbar>

<div id="rcorners1">
  <h3 id="li1" class="center">Setup Marksheet</h3>

  <form id="myForm">


    <div id="dropds" class="btn-group btn-group-lg">
      <select id="sel1" class="btn btn-primary" style="width:80%">
              <option>Module</option>
              <option>COS 151</option>
              <option>COS 132</option>
              <option>COS 110</option>
              <option>COS 121</option>
            </select>   <select id="sel1" class="btn btn-primary" style="width:100%">
                <option>Assessment</option>
                <option>Class Test 1</option>
                <option>Class Test 2</option>
                <option>EO1</option>
                <option>EO2</option>
              </select>
    </div>

    <div class="row">
      <input id="for-file" type="file" data-show-preview="false">
    </div>



    <ag-grid-angular style="width: 700px; height: 115px;" class="ag-fresh" [rowData]="rowData" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>


    <button class="btn btn-default" style="width:20%" id="btnAddCol" (click)="addColumn(newCol)">Add Column</button>
    <button class="btn btn-default" style="width:20%" id="btnAddCol" (click)="addRow()">Add Row</button>
    <button class="btn btn-default" style="width:20%" id="btnAddCol" (click)="removeRow()">Remove Row</button>

    <button type="submit" class="btn btn-default" id="btnSub">Submit</button>


  </form>
</div>
