<nav class="navbar navbar-default" style="color:white;">
    <div class="container-fluid">
      <div class="navbar-header"  >
        <img src="../../../assets/images/logo.png" alt="Logo" style ="width: 50px; height: 50px;">
         <a id="site-head" class="navbar-brand" style="color:white;" href="#">Saffron </a>
     </div>

      <div class="container "style="color:white;">
        <div class="col-md-2 text-right pull-right" >
               <span class="pull-right">
                  <span class="glyphicon glyphicon-user"></span>
               </span>
               <div>{{userName}}</div>
               <a (click)="logout()">Logout</a>
       </div>
         <ul class="nav nav-pills" >
          <li><div><a class="button" href="dash">Home </a> </div></li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Grading">Manage Marks</a>
            <ul class="dropdown-menu">
              <li><a href="admin-marks" style="  background-color:#17294D;
                text-transform: uppercase; color:white">Marksheet Setup</a></li>
              <li><a href="marker-marks" style="  background-color:#17294D;
                text-transform: uppercase; color:white">Enter Marks</a></li>
            </ul>
          </li>
          <li id="li" ><a href="Assignment" style="color:white;">Manage Assignments</a></li>
          <li id="li" ><a href="Weights" style="color:white;">Manage Weightings</a></li>
        </ul>

       </div>

    </div>
  </nav>
