<nav class="navbar navbar-default" style="color:white;">
    <div class="container-fluid">
      <a><img src="../../../assets/images/logo.png"  alt="Logo" style ="width: 50px; height: 50px;"></a>
      <div class="navbar-header"  >
        
         <a id="site-head" class="navbar-brand" style="color:white;" href="student-dash">Saffron </a>
     </div>

      <div class="container "style="color:white;">
        <div class="col-md-2 text-right pull-right" >
               <span class="pull-right">
                  <span class="glyphicon glyphicon-user"></span>
               </span>
               <div id="un">{{userName}}</div>
               <a (click)="logout()" id="lo" >Logout</a>
               <div><a class="button" href="student-dash" id="back">Back </a> </div>
       </div>
         <ul class="nav nav-pills" >
          

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Grading">Manage Marks</a>
            <ul class="dropdown-menu">
              <li><a href="admin-marks" style="  background-color:#17294D;
                text-transform: uppercase; color:white" *ngIf='admin'>Marksheet Setup</a></li>
              <li><a href="marker-marks" style="  background-color:#17294D;
                text-transform: uppercase; color:white" *ngIf='staff'>Enter Marks</a></li>
            </ul>
          </li>
          <li id="li" ><a href="Assignment" style="color:white;" *ngIf='staff'>Manage Assignments</a></li>
          <li id="li" ><a href="Weights" style="color:white;" *ngIf='admin'>Manage Weightings</a></li>


          <li id="li" ><a href="add-bulk-users" style="color:white;" *ngIf='admin'>Add Students</a></li>

          <li id="li" ><a href="enroll-students" style="color:white;"*ngIf='admin'>Enroll Students</a></li>

          <li id="li" ><a href="staff-to-module" style="color:white;"*ngIf='admin'>Add Staff</a></li>

        </ul>

       </div>

    </div>
  </nav>
