.navbar-default
{
 background-color:#17294D;
 text-align: center;

}
.nav
{
	color:white;
}
.navbar-header, .nav.nav-pills
{
	color:white;
	text-align: right;
	font-size: 12pt;
	vertical-align: middle;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
	background-color: #eee;
	color: #000 !important;
}

#site-head{
	font-size: 18pt;
}

#lo, #back, #un
{
	font-size: 10pt;
  cursor: pointer;
}
