<div id="logo" align="center">
    <img src="../../../assets/images/logo.png" alt="Saffron home logo"/>
    <h2 id="site-head">Saffron</h2>
  </div>

  <div  class = "container">
     <div id="login-container" align="center">
        <h1> Reset Password</h1>
        <p> Welcome to the password reset page. Please enter a new password.</p>
        <input type="password"  [(ngModel)]="password" [ngModelOptions]="{standalone : true}" name='password'>
        <button (click)="resetPassword($event)" class="btn btn-success" id="btnSub">Submit</button>
     </div>

  </div>

  <div class="container">
     <!--<router-outlet></router-outlet>-->
  </div>
