<div id="logo" align="center">
    <img src="../../../assets/images/logo.png" alt="Saffron home logo"/>
    <h2 id="site-head">Saffron</h2>
  </div>
  
  <div  class = "container"> 
     <div id="login-container" align="center">
        <form (ngSubmit)="resetPassword()"  id="myForm">
         <h1> Reset Password</h1>
         <p> Welcome to the password reset page. Please enter a new password.</p>
         <input type="text"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
         <button type="submit" class="btn btn-success" id="btnSub">Submit</button>
        </form>
     </div>
     
  </div>
  
  <div class="container">
     <router-outlet></router-outlet>
  </div>
  