
.navbar-default 
{
  background-color:#17294D;
}

.container1
{
  
  padding-left: 30%;

}
.center
{
  padding-left: 25%;
  padding-top :2%;
}

#rcorners1 
{
    border-radius: 25px;
    background:#8F9A87;
    padding: 20px; 
    width: 50%;
    height: 1550%0px;    
}