
.navbar-default 
{
  background-color:rgb(41, 134, 151);
}

.container1
{
  
  padding-left: 30%;
  padding-top :5%;

}
.center
{
  padding-left: 25%;
  padding-top :2%;
}

#rcorners1 
{
    border-radius: 25px;
    background: rgb(41, 134, 151);
    padding: 20px; 
    width: 50%;
    height: 1550%0px;    
}