
.navbar-default 
{
  background-color:#17294D;
}


.center
{
  padding-left: 25%;
  padding-top :2%;
}

#rcorners1 
{
    border-radius: 25px;
    background:#8F9A87;
    padding: 5%; 
    width: 60%;
    height: 80%;  
    margin: 0 auto;

}
#select
{
 align-content: left;
}