<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="../../../assets/images/Logo.png" alt="Logo" style="width: 50px; height: 50px;">
            <a class="navbar-brand" style="color:white;" href="#">Saffron </a>
        </div>


        <div class="container ">
            <div class="col-md-2 text-right pull-right" style="color:rgb(67, 82, 89);">
                <span class="pull-right">
				<span class="glyphicon glyphicon-user"></span>
                </span>
                <p>Student Page for marks
                    </p>
                <a class="button" href="#">Logout</a>
            </div>
        <ul class="nav nav-pills" >
   
         <li><div><a class="button" href="dash">Back </a> </div></li>
            
      </ul>
        </div>

    </div>
</nav>

<div id="lower-privilege" class="container">
    <h4>View and query your marks here: </h4>

    <ul class="nav nav-tabs" id="module-list">
        <ng-container *ngFor="let module of modules; let i = index">
            <li *ngIf="i == 0" class="active"><a data-toggle="tab" href="#{{module.code}}">{{module.code}}</a></li>
            <li *ngIf="i != 0"><a data-toggle="tab" href="#{{module.code}}">{{module.code}}</a></li>
        </ng-container>
    </ul>

    <div class="tab-content">
        <ng-container *ngFor="let module of modules; let i = index">
            <!--module code tabs-->

            <div *ngIf="i == 0" id="{{module.code}}" class="tab-pane fade in active full">
                <h3>Assignments: </h3>
                <table id="module.code-assignments">
                    <tr class="header-row">
                        <th>Assignment #: </th>
                        <th>Assignment Total:</th>
                        <th>Your Total:</th>
                        <th>Class Average:</th>
                        <th>Query Mark:</th>
                    </tr>
                    <ng-container *ngFor="let mark of module.marks; let i = index">

                        <tr *ngIf="mark.assType == 'Assignment'">
                            <td>{{mark.assNum}}</td>
                            <td>{{mark.assTotal}}</td>
                            <td>{{mark.mark}}</td>
                            <td>{{mark.classAvg}}</td>
                            <td><button class="btn btn-default btn-circle" (click)="queryMark(mark.student,mark.assType,mark.assNum,mark.code)">Query</button> </td>
                        </tr>
                    </ng-container>
                </table>

                <h3>Tests: </h3>
                <table id="module.code-tests">
                    <tr class="header-row">
                        <th>Test #: </th>
                        <th>Test Total:</th>
                        <th>Your Total:</th>
                        <th>Class Average:</th>
                        <th>Query Mark:</th>
                    </tr>
                    <ng-container *ngFor="let mark of module.marks; let i = index">

                        <tr *ngIf="mark.assType == 'Test'">
                            <td>{{mark.assNum}}</td>
                            <td>{{mark.assTotal}}</td>
                            <td>{{mark.mark}}</td>
                            <td>{{mark.classAvg}}</td>
                            <td><button class="btn btn-default btn-circle" (click)="queryMark()">Query</button> </td>
                        </tr>
                    </ng-container>
                </table>

            </div>

            <div *ngIf="i != 0" id="{{module.code}}" class="tab-pane fade full">
                <h3>Assignments: </h3>
                <table id="module.code-assignments">
                    <tr>
                        <th>Assignment #: </th>
                        <th>Assignment Total:</th>
                        <th>Your Total:</th>
                        <th>Class Average:</th>
                        <th>Query Mark:</th>
                    </tr>
                    <ng-container *ngFor="let mark of module.marks; let i = index">

                        <tr *ngIf="mark.assType == 'Assignment'">
                            <td>{{mark.assNum}}</td>
                            <td>{{mark.assTotal}}</td>
                            <td>{{mark.mark}}</td>
                            <td>{{mark.classAvg}}</td>
                            <td><button class="btn btn-default btn-circle" (click)="queryMark()">Query</button> </td>
                        </tr>
                    </ng-container>
                </table>

                <h3>Tests: </h3>
                <table id="module.code-tests">
                    <tr>
                        <th>Test #: </th>
                        <th>Test Total:</th>
                        <th>Your Total:</th>
                        <th>Class Average:</th>
                        <th>Query Mark:</th>
                    </tr>
                    <ng-container *ngFor="let mark of module.marks; let i = index">

                        <tr *ngIf="mark.assType == 'Test'">
                            <td>{{mark.assNum}}</td>
                            <td>{{mark.assTotal}}</td>
                            <td>{{mark.mark}}</td>
                            <td>{{mark.classAvg}}</td>
                            <td><button class="btn btn-default btn-circle" (click)="queryMark()">Query</button> </td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </ng-container>
        <!--module code tabs-->
    </div>

</div>

