

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"  >
      <img src="../../../assets/images/Logo.png" alt="Logo" style ="width: 50px; height: 50px;">
	  <a class="navbar-brand" style="color:white;" href="#">Saffron </a>
      </div>


	 <div class="container "> 
		 <div class="col-md-2 text-right pull-right" style="color:rgb(67, 82, 89);">
			 <span class="pull-right">
				<span class="glyphicon glyphicon-user"></span>
			 </span>
			 <p>Student Page for marks<p>
		 </div>
		
	 </div>
  
  </div>
</nav>

      <label class="switch" onclick="changeview()">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>



<div id="lower-privilege">
  <h4>Your modules: </h4>

    <ul class="nav nav-tabs" id="module-list">
    
    </ul>

    <div class="tab-content">
      
  </div>

  <div id="higher-privilege" style="display: none;">
    </div>







