<div id="logo" align="center">
  <img src="../../../assets/images/logo.png" alt="Saffron home logo"/>
  <h2 id="site-head">Saffron</h2>
</div>

<div  class = "container"> 
   <div id="login-container" align="center">
      <form (ngSubmit)="getEmail()"  id="myForm">
       <h1> Reset Password</h1>
       <p> To request a new password enter your email address below and we will send you a link to reset your password. (How cool are we?)</p>
       <input type="email"  [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}">
       <button type="submit" class="btn btn-success" id="btnSub">Submit</button>
      </form>
   </div>
   
</div>

<div class="container">
   <router-outlet></router-outlet>
</div>
