
$c1: rgb(227, 229, 232);
$c2: rgb(209, 211, 214);
$c3: #10244C;
$c4: #213159;
.navbar-default 
{
  background-color:#17294D;
}

 .navbar-header, #site-head
{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16pt !important;
    text-align: center;   
}

#site-head{
    padding-top: 7%;
}

#logo
{
    float: left;
}

#li
{
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10pt !important;
  color: white;
}

#li  :hover, a :hover
{
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10pt !important;
  color: #17294D !important;
}

a#sub :hover
 {
   color: white !important
 }

#li1
{
   font-family: Arial, Helvetica, sans-serif !important;
  font-size: 10pt !important;
  color: #17294D;
}

#header-container {
    width: 40%;
    text-align: center;
    background-color: $c2;
    float: left;
    padding: 1%;
    margin-left: 5%;
}

#query-container {
    width: 40%;
    background-color: #8992a5;
    float: right;
    padding: 1%;
    margin-right: 5%;
}

#higher-privilege {
    width: 40%;
    background-color: $c1;
    float: left;
    padding: 1%;
    margin-left: 5%;
    height: auto;
    overflow-y: auto;
}

#display {
    width: 40%;
    background-color: #bcc7dd;
    float: right;
    padding: 1%;
    margin-right: 5%;
    height: auto;
    overflow-y: auto;
}

#list-queries {
    list-style-type: none;
    width: 100%;
    float: left;
    padding: 1%;
}

.list-test {
    float: left;
    border: 1px solid $c2;
    width: 100%;
    padding: 1%;
}

.list-assignment {
    float: left;
    border: 1px solid $c2;
    width: 100%;
    padding: 1%;
}

button {
    text-decoration: none;

}