<navbar> </navbar>

  <!--<h2 class="center">Add Student</h2>-->

  <div  id="rcorners1">
    <h3 class="center">Add a single student:</h3> 
      <div id="form1">
        <form (ngSubmit)="addSingleUser()"  id="inputForm">

          <div id="wrapper"class="row">
            <label for="in1" id="li1">Student Full Name:</label>
            <input id="in1" type="text" [ngModelOptions]="{standalone : true}" [(ngModel)]="user.fullname" required >
          </div>

          <div id="wrapper"class="row">
            <label for="in2" id="li2">Username:</label>
            <input id="in2" type="text" [ngModelOptions]="{standalone : true}" [(ngModel)]="user.username" required>
          </div>

          <div id="wrapper" class="row" >
            <label for="in3" id="li3">Student Email:</label>
            <input id="in3" type="text" [ngModelOptions]="{standalone : true}" [(ngModel)]="user.email" required>
          </div>
          
          <div id="butts" class="row" >
            <button type="submit" class="btn btn-default" id="btnSub1">Submit</button>
          </div>
        </form>
      </div>
      <br />
      <h3 class="center">Select a file of students:</h3>
    <div id="form2" display="none">
      <form (ngSubmit)="addBulkUsers()"  id="fileForm">
        <div id="wrapper" class="row" >
          <label for="in4" id="li">Select File:</label>
          <input id="in4" type="file" [ngModelOptions]="{standalone : true}" [(ngModel)]="user.filename" (change)="onFileChange($event)" multiple="false">
        </div>
        <div id="butts" class="row" >
            <button type="submit" class="btn btn-default" id="btnSub2">Submit</button>
          </div>
         
      </form>
    </div>
  </div>




  


