/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*make sure you have this bootstrap installed:

npm install --save bootstrap@4.0.0-alpha.6 font-awesome
*/

@import 
"~bootstrap/dist/css/bootstrap.min.css";
@import 
"~font-awesome/css/font-awesome.css";

$c1 : #213159;
$c2 : #3d6098;
$c3 : #f04b4c;
$c4 : #e7e7e7;

body,html{
    color: $c4;
    display: block;
    min-width:100%;
    min-height:100%;
    background-color: $c1;
background-color: $c1;

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
