<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"  >
      <img src="../../../assets/images/Logo.png" alt="Logo" style ="width: 50px; height: 50px;">
	  <a id="site-head" class="navbar-brand" style="color:white;" href="#">Saffron </a>
	    </div>
	 
	 <div class="container "> 
		 <div class="col-md-2 text-right pull-right" style="color:rgb(67, 82, 89);">
			 <span class="pull-right">
				<span class="glyphicon glyphicon-user"></span>
			 </span>
			 <p id="studentDeets">Student Name uXXXXXXXX<p>
				 <a class="button" href="#">Logout</a>
		 </div>
		<ul class="nav nav-pills" >
         <li><div><a class="button" href="dash">Back </a> </div></li>     
    </ul>
	 </div>
  
  </div>
</nav>



<div class="container">
	 
	<div class ="col-md-3">
	</div>
	<div class ="col-md-5">
		
		<div  id="rcorners1">
		<h1 id="li" class="text-center" style="color: white;">Leaderboard</h1>
		<h4 id="li" class="text-center" style="color: white;" > Course Code </h4>
				<div class="datagrid"><table>
			<thead><tr><th>Student</th><th>Current term Mark(%)</th></tr></thead>
			<tbody>
			<tr><td>Micky Mouse</td><td>78</td></tr>
			<tr class="alt"><td>Pluto</td><td>75</td></tr>
			<tr><td>Goofy</td><td>74</td></tr>
			<tr class="alt"><td>Daisy</td><td>69</td></tr>
			<tr><td>Donald Duck</td><td>59</td></tr>
			</tbody>
			</table></div>
			</div>
	
	</div>
</div>
