<navbar> </navbar>

  <!--<h2 class="center">Add Student</h2>-->

  <div  id="rcorners1">
    <h3 class="center">Add a new module:</h3>
      <div id="form1">

          <div id="wrapper"class="row">
            <label for="in1" id="li1">Module Code:</label>
            <input id="in2" type="text" name='code' [(ngModel)]="code" required>
          </div>

          <div id="wrapper"class="row">
            <label for="in2" id="li2">Module name:</label>
            <input id="in2" type="text" name='name' [(ngModel)]="name" required>
          </div>

          <div id="butts" class="row" >
            <button class="btn btn-default" id="btnSub1" (click)='addModule()'>Submit</button>
          </div>
      </div>
      <br />
  </div>







